/* FONTS */
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(https://fonts.gstatic.com/s/notosans/v7/ByLA_FLEa-16SpQuTcQn4KE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(https://fonts.gstatic.com/s/notosans/v7/ByLA_FLEa-16SpQuTcQn4Igp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(https://fonts.gstatic.com/s/notosans/v7/9Z3uUWMRR7crzm1TjRicDogd9OEPUCN3AdYW0e8tat4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(https://fonts.gstatic.com/s/notosans/v7/9Z3uUWMRR7crzm1TjRicDv79_ZuUxCigM2DespTnFaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/erE3KsIWUumgD1j_Ca-V-4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v7/PIbvSEyHEdL91QLOQRnZ14joYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v7/PIbvSEyHEdL91QLOQRnZ1xampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*UNIVERSAL STYLING */
html{
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}
body{
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #FCFCFC;
}
.container{
  width: 64rem;
  margin: 0 auto;
}
.image-container img{
  max-width: 100%;
}
.image-container{
  overflow: hidden;
}
.video-container video{
  max-width: 100%;
}
.video-container{
  overflow: visible;
}
p{
  font-size: .8rem;
  line-height: 1.1rem;
  padding: .25rem 0;
  color: #484848;
}
a{
  font-size: .9rem;
  color: #396794;
}
h1{
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: bold;
}
h3{
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}
h1,
h3{
  padding: .5rem 0;
  color: #484848;
}
li{
  font-size: .9rem;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
/* HEADER */
header{
  display: flex;
  height: 4rem;
  padding: 0 2rem;
  width: 100%;
  background-color: #FCFCFC;
}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img{
  height: 2.5rem;
}
.title{
  font-weight: bold;
}
nav{
  display: flex;
  align-items: center;
}
nav li{
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
nav li:last-child{
  padding-right: 0;
}
nav.mobile{
  display: none;
}
@media only screen and (max-width: 480px) {
  nav .mobile{
    display: flex;
  }
  nav .desktop{
    display: none;
  }
}
/*MAIN CONTENT */
.main-content{
  display: flex;
  flex-direction: column;
}
/*START BANNER */
#start{
  background-color: #DEE1E5;
}
#start .image-container{
  width: 60%;
}
#start .banner-text{
  width: 40%;
  padding-left: 1.5rem;
}
.image-container.mobile{
  display: none;
}
.banner-text span{
  display: block;
  background-color: #484848;
  color: white;
  width: 95%;
  padding: 1rem 0;
  margin-top: .5rem;
  text-align: center;
  transition: all 0.5s;
}
.banner-text span:hover{
  background-color: #FCFCFC;
  color: black;
}
.banner{
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}
/*INFORMATION SECTION & THESIS SECTION*/
#information{
  margin-bottom: 2rem;
}
.practice{
  width: 60%;
  padding-right: 1.5rem;
  margin-top: 1rem;
}
.quote{
  margin-bottom: 2rem;
}
.information{
  width: 40%;
}
.information .image-container{
  height: auto;
  width: 35%;
  padding: 1rem;
}
.info-text{
  margin-top: 0.25rem;
  width: 65%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.info{
  display: flex;
  flex-direction: row;
  background-color: #FCFCFC;
  transition: all 0.5s;
}
.info:hover{
  background-color: #DEE1E5;
}
/*COURSES SECTION */
#courses-desktop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #DEE1E5;
  padding: 0 2.5rem;
  align-items: center;
  justify-content: center;
}
#courses-mobile{
  display: none;
}
#section-title{
  text-align: center;
  display: block;
  padding: 2rem 0;
}
.shift{
  background-color: #DEE1E5;
}
.course .image-container{
  height: auto;
  width: 100%;
}
.course{
  margin: 0 1rem;
  background-color: white;
  width: 29%;
  height: 18.75rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 3px #484848;
}
.course-text{
  margin: 1rem;
}
.course-text p{
  padding: .5rem 0;
}
.course-text h3{
  padding-top: .125rem;
}
/*FOOTER */
footer{
  display: flex;
  border-top: 1px solid #DEE1E5;
  padding: 1rem 1.5rem 2rem 1.5rem;
}

/* MEDIA QUERIES */

/*TABLET + SMALL SCREENS */
@media only screen and (max-width: 1024px){
  .container{
    width: auto;
  }
  .course{
    width: 35%;
    height: 18.75rem;
  }
}
/*PHONE SCREEN */
@media only screen and (max-width: 540px){
  .container{
    width: auto;
  }
  .desktop{
    display: none;
  }
  nav.mobile{
    display: flex;
    margin: 0 auto;
    width: auto;
  }
  nav li{
    padding-right: 4rem;
  }
  .logo.top{
    display: none;
  }
  .images-container{
    display: inline-block;
  }
  .banner{
    display: block;
    padding: 0 0 2rem 0;
    margin-bottom: 2rem;
  }
  #start .banner{
    margin: 0;
  }
  #start .image-container{
    width: auto;
  }
  #start .banner-text{
    width: auto;
    padding: 1rem;
  }
  .banner-text span{
    display: block;
    background-color: #484848;
    color: white;
    width: auto;
    padding: 1rem 0;
    margin-top: .5rem;
    text-align: center;
    transition: all 0.5s 50ms;
  }
  /* PRACTICE + INFORMATION SECTION */
  .practice{
    display: none;
  }
  .practice.mobile{
    display: flex;
    width: auto;
    padding-right: 0;
  }
  .image-container.mobile{
    display: block;
  }
  .information{
    width: auto;
  }
  .information .image-container{
    height: auto;
    width: auto;
    padding: 1rem;
  }
  .information .image-container:hover img{
    filter: drop-shadow(3px 3px 2px #484848);
    transition: all 0.25s ease-in;
  }
  .info-text{
    margin-top: 0.25rem;
    width: auto;
    display: block;
    padding: 0 0 4rem 1rem;
    border: 1px dotted #DEE1E5;
  }
  .info{
    flex-direction: column;
  }
  .info:hover{
    background-color: #FCFCFC;
  }
  /*COURSES SECTION */
  #courses-desktop{
    display:none;
  }
  .shift{
    margin-top: -7rem;
    background-color: #FCFCFC;
  }
  #courses-mobile{
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    padding: 1.5rem .5rem;
    margin: 1.5rem .5rem;
    border: 1px dotted #DEE1E5;
  }
  .courses-mobile{
    padding: 1rem;
    margin-bottom: .5rem;
    background-color: #DEE1E5;
    border: 1px solid #DEE1E5;
    transition: all 0.5s;
  }
  .courses-mobile:hover{
    background-color: #FCFCFC;
    border: 1 px solid #484848;
  }
  .courses-mobile:last-child{
    margin-bottom: 0rem;
  }
  /*THESIS SECTION */
  .information{
    width: auto;
  }
